ENVIRONMENT=dev
SECURITY_KEY=

# For Craft Postgres DB
DB_DSN=pgsql:host=postgres;dbname=craft
DB_SERVER=postgres
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SCHEMA=public
DB_DRIVER=pgsql
DB_PORT=5432

ENABLE_MEMCACHED="true"
MEMCACHED_IP=cache

# For Google Storage Assets
GCP_PROJECT_ID=
GCS_GENERAL_BUCKET=
GCS_HEROES_BUCKET=
GCS_CONTENT_BUCKET=
GCS_CALLOUTS_BUCKET=
GCS_STAFF_BUCKET=

# For required and custom Craft aliases
PRIMARY_SITE_URL=http://localhost:8080
WEB_BASE_URL=http://localhost:3000
ALIAS_PREVIEW_URL_FORMAT=http://localhost:3000/api/preview?site={site}&entryUid={sourceUid}

# For AWS Assets
AWS_ASSET_KEY_ID=
AWS_ASSET_SECRET_KEY=
AWS_ASSET_S3_BUCKET=
AWS_ASSET_S3_REGION=
AWS_ASSET_S3_ASSET_VARIANT_SUBFOLDER=

# For contact form
EMAIL_FROM_ADDRESS=
EMAIL_REPLY_TO_ADDRESS=
EMAIL_SENDER_NAME=
EMAIL_HTML_EMAIL_TEMPLATE=

EMAIL_SMTP_HOST_NAME=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=