# The environment Craft is currently running in ("dev", "staging", "production", etc.)
ENVIRONMENT="dev"

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID="CraftCMS"

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=""

# The database driver that will be used ("mysql" or "pgsql")
DB_DRIVER="pgsql"

# The database server name or IP address
DB_SERVER="127.0.0.1"

# The port to connect to the database with
DB_PORT="5432"

# The name of the database to select
DB_DATABASE="%%DB_NAME%%"

# The database username to connect with
DB_USER="%%DB_USER%%"

# The database password to connect with
DB_PASSWORD=""

# The database schema that will be used (PostgreSQL only)
DB_SCHEMA="public"

# The prefix that should be added to generated table names (only necessary if multiple things are sharing the same database)
DB_TABLE_PREFIX=""

DEFAULT_SITE_URL="%%SITE_URL%%"
PRIMARY_SITE_URL="%%SITE_URL%%"

AWS_ASSET_KEY_ID=
AWS_ASSET_SECRET_KEY=

AWS_ASSET_S3_BUCKET=
AWS_ASSET_S3_REGION=us-west-1

AWS_ASSET_S3_ASSET_VARIANT_SUBFOLDER=asset_variants

ALIAS_PREVIEW_URL_FORMAT=https://rubin.lvh/api/preview?site={site}&entryUid={sourceUid}

EMAIL_FROM_ADDRESS=
EMAIL_REPLY_TO_ADDRESS=
EMAIL_SENDER_NAME="Rubin Telescope Education and Public Outreach"
EMAIL_HTML_EMAIL_TEMPLATE=

EMAIL_SMTP_HOST_NAME=
EMAIL_SMTP_PORT=
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=

CONTACT_FORM_NOTIFY_EMAIL=
